*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 44px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: rgb(156, 161, 167);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

a.topMenu{
    color: rgb(28, 28, 29);
}

header{
    /* background-color: red; */
    font-size: 13px;
}

ul.menuUnorganizeList{
    /* background-color: rgb(255, 72, 0); */
    text-align: right;
}

li.menuItemList {
    display: inline;
    padding: 0.2em;
}

img.googleAppsImage{
    width: 2em;
    height: 2em;
}

button{
    transition-duration: 0.3s;
}

button.imageGAIButton{
    background-color: transparent;
    border: none;
}

button.imageGAIButton:hover{
    background-color: rgba(0, 0, 0, 0.356);
}

button.SignInButton{
    background-color: rgb(79, 136, 243);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid rgb(79, 136, 243); 
    border-radius: 2px;
}

div img.googleLogoImg{
    width: 272px;
    height: 92px;
}

div.googleLogoDiv{
    /* background-color: yellow; */
    height: 92px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 31px;
}

.centerDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.searchBarGoogleDiv{
    /* background-color: rgb(136, 255, 0); */
    line-height: 44px;
    text-align: center;
    height: 44px;
    width: 586px;
    border-radius: 50px;
    border: 1px solid #dfe1e5 ;
}

input.searchBarGoogleInput{
    /* background-color: salmon; */
    width: 487px;
    height: 33px;
    -webkit-appearance:none;
    border: none;
    box-shadow: none;
    font-size: 17px;
}

.buttonsDiv{
    /* background-color: seagreen; */
    text-align: center;
    margin-top: 26px;
}

.grayButton{
    width: 133px;
    height: 38px;
    color: rgb(96, 99, 104);
    text-align: center;
    background-color: rgb(243, 243, 243);
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.grayButton:hover{
    background-color: rgb(248, 247, 247);
    color: rgb(99, 99, 99);
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24);
}

ul.lenguagesUl{
    /* background-color: slateblue; */
    text-align: center;
    font-size: 14px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.countryPadding{
    padding-left: 40px;
}

.footerDiv{
    background-color: rgb(242, 242, 242);
    height: 42px;
    /* vertical-align: middle;
    line-height: 42px;  */
    border: 1px solid rgb(228, 228, 228);
    font-size: 14px;
    z-index: 10;
}

#countryParagraphId, .bottomMenu{
    color: rgb(115, 115, 115);
}

li.bottomItemList{
    display: inline;
    padding-right: 20px;
}

.leftMenu{
    width: 50%;
    float: left;
}

.rightMenu{
    text-align: right;
}